@import "../../../style-config/variable.scss", "../../../style-config/mixins.scss";

.arrow-icon {
    width: 21px;
    height: 21px;
    background :$yellow;
    border-radius: 41px;
    display: flex;
    align-items: center;
    margin-left: 18px;
    svg{
        transform: rotate(-45deg);
    }
}